.row {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 16px 0;
}

.old {
    font-size: var(--small-title);
    font-weight: 500;
    color: var(--light-text-color);
    text-decoration: line-through;
    margin-right: 24px;
    position: relative;
    top: 21px;
}

.badge {
    background: var(--main-background-color);
    color: var(--white-color);
    padding: 6px 12px;
    border-radius: var(--radius-small);
    font-size: var(--big-text);
    font-weight: 600;
    position: relative;
    top: -21px;
}

.current {
    font-size: var(--big-title);
    font-weight: 700;
    color: var(--main-text-color);
    margin-right: 32px;
}

@media (max-width: 1024px) {
    /* Override styles here for <=1024px */
}

@media (max-width: 768px) {
    /* Override styles here for <=768px */
}

@media (max-width: 425px) {
    /* Override styles here for <=425px */
}

@media (max-width: 375px) {
    /* Override styles here for <=375px */
}

@media (max-width: 320px) {
    /* Override styles here for <=320px */
}