.container {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 16px;
  height: 150px;
  background-color: var(--light-grey);
  border-radius: var(--radius-big);
}

.title {
  font-size: var(--big-text);
  font-weight: 500;
  color: var(--light-text-color);
}

.infoText {
  display: flex;
  font-size: var(--small-title);
  font-weight: 600;
  color: var(--main-text-color);
  gap: 16px;
}

@media (max-width: 1024px) {
  /* Override styles here for <=1024px */
}

@media (max-width: 768px) {
  /* Override styles here for <=768px */
}

@media (max-width: 425px) {
  /* Override styles here for <=425px */
}

@media (max-width: 375px) {
  /* Override styles here for <=375px */
}

@media (max-width: 320px) {
  /* Override styles here for <=320px */
}