.container {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 16px;
  height: 150px;
  background-color: var(--light-grey);
  border-radius: var(--radius-big);
}

.title {
  font-size: var(--big-text);
  font-weight: 500;
  color: var(--light-text-color);
}

.infoText {
  display: flex;
  font-size: var(--small-title);
  font-weight: 600;
  color: var(--main-text-color);
  gap: 16px;
}