.card {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
    border: 1px solid #eee;
    border-radius: 12px;
    overflow: hidden;
    transition: box-shadow .2s;
    width: 315px;
    height: 430px;

}

.card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
}

.imageWrapper {
    position: relative;
    display: block;
}

.img {
    width: 315px;
    height: 284px;
    object-fit: cover;
}

.discountBadge {
    position: absolute;
    top: 20px;
    right: 24px;
    background-color: var(--main-background-color);
    color: #fff;
    padding: 4px 8px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 4px;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    flex: 1;
}

.title {

    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: inherit;
    margin-bottom: 8px;
}

.title:hover {
    text-decoration: underline;
}

.priceWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    justify-content: flex-start;

}

.oldPrice {
    font-size: 20px;
    font-weight: 500;
    color: var(--light-text-color);
    text-decoration: line-through;
}

.price {
    font-size: 44px;
    font-weight: 600;
    color: var(--main-text-coloror);
}

.container {
    position: relative;
}

.btnContainer {
    display: flex;
    position: absolute;
    top: 210px;
    right: 16px;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-in-out, visibility .2s ease-in-out;
}

.container:hover .btnContainer {
    opacity: 1;
    visibility: visible;
}

.hovered .btnContainer {
    opacity: 1;
    visibility: visible;
}