.text {
  margin-bottom: 32px;
  font-size: var(--big-text);
  font-weight: 500;
  line-height: 130%;
  color: var(--main-text-color);
}

.cont {
  gap: 32px;
  margin: 40px 0 0 0;
}

@media (max-width: 1025px) {
  .text {
    margin-bottom: 16px;
  }

  .cont {
    gap: 16px;
    margin: 20px 0 0 0;
  }
}

@media (max-width: 769px) {
  .cont {
  gap: 8px;
  margin: 10px 0 0 0;
}
}
