.nav {
  display: flex;
  gap: 24px;
}

.navLink,
.navLinkActive {
  font-family: 'Inter', sans-serif;
  font-size: var(--big-text);
  text-decoration: none;
  padding: 8px 0;
  position: relative;
  color: var(--main-text-color);
}

.navLink:hover {
  color: var(--main-background-color);
}

.navLinkActive {
  font-weight: 600;
  text-decoration: none;
  color: var(--main-background-color);
}

.navLinkActive::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  color: var(--main-background-color);
  text-decoration: none;
}

@media (max-width: 1024px) {
  /* Override styles here for <=1024px */
}

@media (max-width: 768px) {
  /* Override styles here for <=768px */
}

@media (max-width: 425px) {
  /* Override styles here for <=425px */
}

@media (max-width: 375px) {
  /* Override styles here for <=375px */
}

@media (max-width: 320px) {
  /* Override styles here for <=320px */
}