.gallery {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.thumbnails {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.thumb {
    width: 200px;
    height: 180px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: var(--radius-small);
    transition: border-color .2s;
}

.thumb:hover {
    border-color: var(--main-background-color);
}

.mainImage {
    flex-shrink: 0;
    width: 548px;
    height: 572px;
    object-fit: cover;
    border-radius: var(--radius-small);
}

@media (max-width: 769px) {
    .thumb {
        display: none;
    }
}

@media (max-width: 426px) {
    .mainImage {
        width: 410px;
        height: auto;
    }
}

@media (max-width: 376px) {
    .mainImage {
        width: 350px;

    }
}

@media (max-width: 320px) {
    .mainImage {
        width: 300px;

    }
}