.card {
    display: flex;
    align-items: center;
    width: 780px;
    border: 1px solid var(--grey-divider);
    border-radius: var(--radius-big);
    background-color: var(--white-color);
    padding-right: 32px;
    margin-bottom: 16px;
}

.image {
    width: 200px;
    height: 180px;
    object-fit: cover;
    border-radius: var(--radius-big);
    margin-right: 32px;
}

.info {
    width: 516px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.title {
    font-size: 20px;
    font-weight: 500;
}

.price {
    font-size: 40px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 16px;
}

.oldPrice {
    font-size: 20px;
    font-weight: 500;
    color: var(--light-text-color);
    text-decoration: line-through;
}

@media (max-width: 1024px) {
    /* Override styles here for <=1024px */
}

@media (max-width: 768px) {
    /* Override styles here for <=768px */
}

@media (max-width: 425px) {
    /* Override styles here for <=425px */
}

@media (max-width: 375px) {
    /* Override styles here for <=375px */
}

@media (max-width: 320px) {
    /* Override styles here for <=320px */
}