.container {
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 32px 0 32px;
    border-radius: var(--radius-big);
    width: 100%;

}

.title {
    font-size: var(--big-title);
    color: var(--white-color);
    font-weight: 700;
}

.img {
    background-image: url(../../assets/images/fotoRegForm.png);
    height: 360px;
    width: 650px;
    z-index: 50;
    background-size: cover;
    background-position: center;
}

.flex {
    width: 100%;
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
    align-items: center
}

@media (max-width: 1025px) {
    .img {
        height: 250px;
    }

}

@media (max-width: 769px) {
    .img {
        height: 200px;
    }
}

@media (max-width: 426px) {
    .container {
        padding: 5px;
        border-radius: 0;
    }

    .img {
        display: none;
    }

}