.wrapper {
  display: flex;
  gap: 40px;
  padding: 40px;
  flex-wrap: wrap;
}

.details {
  flex: 1;
  max-width: 574px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: var(--small-title);
  font-weight: 700;
  margin-bottom: 32px;
  color: var(--main-text-color);
}

.counBtn {
  display: flex;
  justify-content: space-between;
  margin: 32px 0;
}

@media (max-width: 1024px) {
  /* Override styles here for <=1024px */
}

@media (max-width: 768px) {
  /* Override styles here for <=768px */
}

@media (max-width: 425px) {
  /* Override styles here for <=425px */
}

@media (max-width: 375px) {
  /* Override styles here for <=375px */
}

@media (max-width: 320px) {
  /* Override styles here for <=320px */
}