.wrapper {
    display: flex;
    gap: 40px;
    padding: 40px;
    flex-wrap: wrap;
}

.details {
    flex: 1;
    max-width: 574px;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 32px;
    color: var(--main-text-color);
}

.counBtn{
    display: flex;
    justify-content: space-between;
    margin: 32px 0;
}

