.wrapper {
  display: flex;
  gap: 40px;
  padding: 40px;
  flex-wrap: wrap;
}

.details {
  flex: 1;
  max-width: 574px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: var(--small-title);
  font-weight: 700;
  margin-bottom: 32px;
  color: var(--main-text-color);
}

.counBtn {
  display: flex;
  justify-content: space-between;
  margin: 32px 0;
}

@media (max-width: 1025px) {
  .wrapper {
    gap: 10px;
    padding: 10px;
    justify-content: center;
  }
}

@media (max-width: 769px) {
  .wrapper {
    gap: 5px;
    padding: 5px;

  }

  .counBtn {
    margin: 8px 0;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
  }
}