:root {
    --main-text-color: #282828;
    --light-text-color: #8B8B8B;
    --main-background-color: #0D50FF;
    --secondary-background-color: #282828;
    --light-grey: #F1F3F4;
    --radius-big: 12px;
    --radius-small: 6px;
    --white-color: #fff;
    --grey-divider: #DDDDDD;
    --small-text: 16px;
    --big-text: 20px;
    --small-title: 40px;
    --big-title: 64px;
}