.btn {
    color: var(--white-color);
    font-size: var(--big-text);
    font-weight: 600;
    background-color: var(--main-background-color);
    padding: 16px 32px;
    border-radius: var(--radius-small);
    width: 100%;
}

.btn:hover {
    background-color: var(--secondary-background-color);
}

.active {
    color: var(--main-text-color);
    border: 1px solid var(--secondary-background-color);
    background-color: var(--white-color);
}

.active:hover {
    color: var(--white-color);
}

@media (max-width: 1025px) {
.btn {padding: 16px;}
}

@media (max-width: 769px) {
.btn {padding: 8px;}
}