.wrapper {
    width: 528px;
    padding: 32px;
    border-radius: 12px;
}

.title {
    margin: 0 0 24px 0;
    font-size: 40px;
    font-weight: 700;
    color: var(--main-text-color);
}

.sub {
    margin: 4px 0 16px;
    font-size: 40px;
    color: var(--light-text-color);
}

.total {
    display: flex;
    align-items: baseline;
    margin-bottom:40px;
    justify-content: space-between;
}

.total-label {
    font-size: 40px;
    color: var(--light-text-color);
    margin-right: 8px;
}

.total-value {
    font-size: 64px;
    font-weight: 700;
    color: var(--main-text-color);
    
}