.wrapper {
    width: 528px;
    padding: 32px;
    border-radius: var(--radius-big);
    background: var(--light-grey);

}

.title {
    margin: 0 0 24px 0;
    font-size: 40px;
    font-weight: 700;
    color: var(--main-text-color);
}

.sub {
    margin: 4px 0 16px;
    font-size: 40px;
    color: var(--light-text-color);
}

.total {
    display: flex;
    align-items: baseline;
    margin-bottom: 40px;
    justify-content: space-between;
}

.total-label {
    font-size: 40px;
    color: var(--light-text-color);
    margin-right: 8px;
}

.total-value {
    font-size: 64px;
    font-weight: 700;
    color: var(--main-text-color);

}

@media (max-width: 1024px) {
    /* Override styles here for <=1024px */
}

@media (max-width: 768px) {
    /* Override styles here for <=768px */
}

@media (max-width: 425px) {
    /* Override styles here for <=425px */
}

@media (max-width: 375px) {
    /* Override styles here for <=375px */
}

@media (max-width: 320px) {
    /* Override styles here for <=320px */
}