.wrapper {
    width: 528px;
    padding: 32px;
    border-radius: var(--radius-big);
    background: var(--light-grey);

}

.title {
    margin: 0 0 24px 0;
    font-size: var(--small-title);
    font-weight: 700;
    color: var(--main-text-color);
}

.sub {
    margin: 4px 0 16px;
    font-size: var(--small-title);
    color: var(--light-text-color);
}

.total {
    display: flex;
    align-items: baseline;
    margin-bottom: 40px;
    justify-content: space-between;
}

.total-label {
    font-size: var(--small-title);
    color: var(--light-text-color);
    margin-right: 8px;
}

.total-value {
    font-size: var(--big-title);
    font-weight: 700;
    color: var(--main-text-color);

}

@media (max-width: 769px) {
    .total {
    margin-bottom: 8px;
}
}

@media (max-width: 426px) {
    .wrapper {
    width: 100%;
    padding: 8px;
}
.title {
    margin: 0 0 6px 0;
}
}
