.row {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 2px solid var(--grey-divider);
    margin-right: 32px;
    border-radius: var(--radius-small);
    border-right: none;
    border-left: none;
}

.btn {
    width: 58px;
    height: 58px;
    border: 2px solid var(--grey-divider);
    background: none;
    font-size: var(--big-text);
    font-weight: 400;
    color: var(--light-text-color);
    border-radius: var(--radius-small);
    cursor: pointer;
    border-top: none;
    border-bottom: none;
}

.value {
    width: 58px;
    text-align: center;
    font-size: var(--big-text);
    font-weight: 600;
    color: var(--main-text-color);
}