.flex {
  display: flex;
  width: 1400px;
  align-items: center;
  margin-top: 40px;
}

.title {
  font-size: var(--big-title);
  font-weight: 700;
  color: var(--main-text-color);
  flex: 0 0 auto;
}

.hrContainer {
  flex: 1;
  margin: 0 0 0 30px;
}

.hr {
  max-width: 100%;
  border: none;
  border-top: 1px solid var(--grey-divider);
  pointer-events: none;
}

.link {
  position: relative;
  flex: 0 0 auto;
  height: 26px;
  border: 1px solid var(--grey-divider);
  display: flex;
  padding: 4px;
  justify-content: center;
  font-size: var(--small-text);
  font-weight: 500;
  text-decoration: none;
  color: var(--light-text-color);
  z-index: 1;
  pointer-events: auto;
  cursor: pointer;
}

@media (max-width: 1025px) {
  .flex {
  width: 970px;
  margin-top: 30px;
}
.hrContainer {
  margin: 0 0 0 20px;
}
.hrContainer {
  margin: 0 0 0 30px;
}
}

@media (max-width: 769px) {
  .flex {
  width: 719px;
  margin-top: 20px;
}
.hrContainer {
  margin: 0 0 0 10px;
}
.hrContainer {
  margin: 0 0 0 20px;
}
}

@media (max-width: 426px) {
  .flex {
  width: 370px;
  margin-top: 20px;
}
.hrContainer {
  margin: 0 0 0 10px;
}
.hrContainer {
  margin: 0 0 0 20px;
}
}

@media (max-width: 376px) {
  .flex {
  width: 350px;
  margin-top: 10px;
}
.hrContainer {
  margin: 0 0 0 5px;
}
.hrContainer {
  margin: 0 0 0 10px;
}
}

@media (max-width: 320px) {
  .flex {
  width: 280px;
}
}