.wrapper {
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.label {
    font-size: var(--big-text);
    width: 100px;
}

.input {
    background-color: var(--main-background-color);
    padding: 16px 32px;
    border: 1px solid var(--white-color);
    outline: none;
    border-radius: var(--radius-small);
    font-size: var(--big-text);
    width: 100%;
}

.input::placeholder {
    color: var(--placeholder-font-color, var(--light-text-color));
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.error {
    width: 100%;
    color: red;
    font-size: var(--small-text);
}

@media (max-width: 1025px) {
    .wrapper {
        margin-bottom: 12px;
    }

    .input {
        padding: 12px 24px;
    }
}

@media (max-width: 769px) {
    .wrapper {
        margin-bottom: 8px;
    }

    .input {
        padding: 8px 16px;
    }
}

@media (max-width: 426px) {
    .wrapper {
        margin-bottom: 4px;
    }

    .input {
        padding: 4px 8px;
    }
}
