.container {
    position: relative;
    overflow: hidden;
    height: 600px;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}


.container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../../assets/images/1991c23e3279ed43fc34e4b37e4864e1f9e9769d.jpg);
    background-size: cover;
    background-position: center;
    transform: scaleX(-1);
    transform-origin: center center;
    z-index: -1;
}

.inner {
    margin: 80px auto auto 40px;
}

.title {
    color: var(--white-color);
    font-size: 96px;
    line-height: 110px;
    font-weight: 700;
    margin-bottom: 40px;
}
.link{

    width: 290px;
}
@media (max-width: 1024px) {
    /* Override styles here for <=1024px */
}

@media (max-width: 768px) {
    /* Override styles here for <=768px */
}

@media (max-width: 425px) {
    /* Override styles here for <=425px */
}

@media (max-width: 375px) {
    /* Override styles here for <=375px */
}

@media (max-width: 320px) {
    /* Override styles here for <=320px */
}