.footer{
    display: flex;
    flex-direction: column;
    justify-self: center;
}
.container {
    margin: 40px 0 40px 0;
    display: grid;
    gap: 32px;
    grid-template-columns: 3fr 2fr;
}
.link{
    text-decoration: none;
    color: var(--main-text-color);
}
.map{
    border-radius: var(--radius-big);
}